* {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

header {
    background-color: rgb(51, 51, 51);
    height: 15vh;
}

.box {
    height: 85vh;
    width: 15vw;
    background-color: grey;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#second {
    background-color: white;
    height: 75vh;
    width: 70vw;
}